for rango 0…100{
	Print(rango)
	
		if rango%5 == 0 {
		Print(“\(rango) + Bingo!!!”)
			
			else if rango%2 == 0{
			Print(“\(rango) + par!!!”)
			}

			else if rango%2 != 0{
			Print(“\(rango) + impar!!!”)
			}

			else if rango > 30 && rango < 40 {
			Print(“\(rango) + Viva Swift!!!”)
			}
		}
}
